In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('advertising.csv')

In [5]:
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,3/27/16 0:53,0.0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,4/4/16 1:39,0.0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,3/13/16 20:35,0.0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,1/10/16 2:31,0.0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,6/3/16 3:36,0.0

In [7]:
data.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,999.000000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.499499
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.500250
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.000000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.000000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.000000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.000000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.000000