In [2]:
import turicreate
import os

In [19]:
#file open
people = turicreate.SFrame('people_wiki.sframe')
#feature engineering
people['word_count'] = turicreate.text_analytics.count_words(people['text'])
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])
###model 
knn_model= turicreate.nearest_neighbors.create(people,features=['tfidf'],label = 'name')

In [21]:
people.column_names()

['URI', 'name', 'text', 'word_count', 'tfidf']

# Part 1

In [54]:
elton = people[people['name']=='Elton John']
##
elton_count = elton['word_count'].stack(new_column_name = ['word','count']).sort('count', ascending= False)
elton_count
##

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|  john |  7.0  |
|   he  |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [53]:
elton_tfidf = elton['tfidf'].stack(new_column_name = ['word','tfidf_score']).sort('tfidf_score', ascending= False)
elton_tfidf

Columns:
	word	str
	tfidf_score	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |    tfidf_score     |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
| tonightcandle | 10.986495389225194 |
|  overallelton | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Part 2

In [ ]:
Elton John vs (Victoria Beckham and Paul McCartney)

In [56]:
elton = people[people['name']=='Elton John']
vicky = people[people['name']=='Victoria Beckham']
paul = people[people['name']=='Paul McCartney']

In [57]:
turicreate.distances.cosine(elton['tfidf'][0],vicky['tfidf'][0])

0.9567006376655429

In [58]:
turicreate.distances.cosine(elton['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

In [63]:
knn_model.query(elton)
knn_model.query(paul)
knn_model.query(vicky)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.295ms      |

| Done         |         | 100         | 95.563ms     |

+--------------+---------+-------------+--------------+

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 2.324ms      |

| Done         |         | 100         | 74.62ms      |

+--------------+---------+-------------+--------------+

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 2.03ms       |

| Done         |         | 100         | 79.5ms       |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      | Victoria Beckham |        0.0         |  1   |
|      0      |   Cheryl Cole    | 0.8005865102639296 |  2   |
|      0      |    Heidi Klum    | 0.8103448275862069 |  3   |
|      0      |   Simon Fuller   | 0.822742474916388  |  4   |
|      0      |      Adele       | 0.8249158249158249 |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

# Part 3

In [64]:
knn_model_tfidf= turicreate.nearest_neighbors.create(people,features=['tfidf'],label = 'name',distance='cosine')
knn_model_word_count= turicreate.nearest_neighbors.create(people,features=['word_count'],label = 'name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [72]:
#knn_model_word_count.query(elton) #Q1
#knn_model_tfidf.query(elton) #Q2
#knn_model_word_count.query(vicky) #Q3
knn_model_tfidf.query(vicky) #Q4

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.793ms      |

| Done         |         | 100         | 95.269ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]